/*
https://www.scientificamerican.com
*/
#onetrust-banner-sdk {
    display: none;
}
.article-grid__aux {
    display: none;
}
/*
https://www.economist.com/
*/
[id^=sp_message_container] {
    display: none !important;
}